.hide{
	display: none;
}

#element-box .m form fieldset a{
	padding: 0 5px;
	display: inline-block;
	border-right: 1px solid #ccc;
	*display: inline; /*for IE*/
}

#element-box .m form fieldset a.active{
	text-decoration: underline;
}